@font-face {
  font-family: 'FontAwesome';
  src: url("applab/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
.flex-center {
  height: 100%;
  display: flex;
  align-items: center;
}
#divApplab.appModern button.appModernDesign,
#divApplab.appModern button.appModernDesign:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-size: 14px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label.appModernDesign,
#divApplab.appModern label.appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text].appModernDesign,
#divApplab.appModern input[type=text].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(153, 153, 153);
  border-right-color: rgb(153, 153, 153);
  border-bottom-color: rgb(153, 153, 153);
  border-left-color: rgb(153, 153, 153);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox].appModernDesign,
#divApplab.appModern input[type=checkbox].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select.appModernDesign,
#divApplab.appModern select.appModernDesign:hover {
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio].appModernDesign,
#divApplab.appModern input[type=radio].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea.appModernDesign,
#divApplab.appModern div.textArea.appModernDesign:hover {
  width: 200px;
  height: 100px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(153, 153, 153);
  border-right-color: rgb(153, 153, 153);
  border-bottom-color: rgb(153, 153, 153);
  border-left-color: rgb(153, 153, 153);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img.appModernDesign,
#divApplab.appModern img.appModernDesign:hover {
  height: 100px;
  width: 100px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  object-fit: contain;
  font-family: "object-fit: contain;";
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas.appModernDesign,
#divApplab.appModern canvas.appModernDesign:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen.appModernDesign,
#divApplab.appModern div.screen.appModernDesign:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart.appModernDesign,
#divApplab.appModern div.chart.appModernDesign:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range].appModernDesign,
#divApplab.appModern input[type=range].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #screen1 {
  background-color: rgb(91, 0, 255);
}

#divApplab.appModern #image4 {
  height: 185px;
  width: 165px;
  left: 79px;
  top: 30px;
}

#divApplab.appModern #label8 {
  width: 145px;
  height: 70px;
  left: 95px;
  top: 105px;
  background-color: rgb(91, 0, 255);
}

#divApplab.appModern #image1 {
  height: 140px;
  width: 170px;
  top: -30px;
  left: -5px;
}

#divApplab.appModern #image3 {
  height: 140px;
  width: 170px;
  left: 155px;
  top: -30px;
}

#divApplab.appModern #title {
  color: rgb(255, 255, 255);
  width: 135px;
  left: 13px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 55px;
  height: 75px;
  top: 50px;
}

#divApplab.appModern #subtitle {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 284px;
  height: 90px;
  top: 150px;
  text-align: center;
  left: 20px;
}

#divApplab.appModern #button1 {
  height: 70px;
  font-size: 16px;
  background-color: rgb(255, 86, 62);
  top: 205px;
  left: 21px;
}

#divApplab.appModern #button2 {
  height: 70px;
  font-size: 16px;
  background-color: hotpink;
  left: 221px;
  top: 205px;
}

#divApplab.appModern #button3 {
  height: 70px;
  font-size: 16px;
  background-color: rgb(225, 187, 0);
  left: 70px;
  top: 320px;
}

#divApplab.appModern #button4 {
  height: 70px;
  font-size: 16px;
  left: 170px;
  top: 320px;
}

#divApplab.appModern #button5 {
  height: 70px;
  font-size: 16px;
  background-color: rgb(176, 94, 255);
  left: 121px;
  top: 205px;
}

#divApplab.appModern #label1 {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 58px;
  height: 17px;
  left: 31px;
  top: 275px;
  text-align: center;
}

#divApplab.appModern #label2 {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 71px;
  height: 17px;
  left: 126px;
  top: 275px;
  text-align: center;
}

#divApplab.appModern #label3 {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 61px;
  height: 17px;
  left: 230px;
  top: 275px;
  text-align: center;
}

#divApplab.appModern #label4 {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 65px;
  height: 17px;
  top: 390px;
  text-align: center;
  left: 78px;
}

#divApplab.appModern #label5 {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 62px;
  height: 17px;
  top: 390px;
  text-align: center;
  left: 179px;
}

#divApplab.appModern #label7 {
  color: rgb(255, 255, 255);
  width: 135px;
  left: 173px;
  top: 50px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 55px;
  height: 75px;
}
